body{
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color:white;
    overflow: hidden;
}
.start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    margin-top: 10vh;
}
.title-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    position: relative;
}
.btn-yes{
    display:inline-block;
    position: relative;
    margin-right: 20px;
}

.btn-move{
    position: absolute;
}
.btn-lg{
    font-size: 2rem;
    padding: 15px 30px;
}
@keyframes heart-fall{
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(100vh);
    }
}
.heart{
    position: absolute;
    color:red;
    font-size: 30px;
    animation: heart-fall 1s linear infinite;
}
.hidden{
    display: none;
}
.title{
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#funny-img{
    border-radius: 2.5rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    margin: 20px auto;
}
.scrolling-text{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    color: yellow;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@keyframes scroll-up{
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(-200vh);
    }
}
.scrolling-text p{
    width: 60%;
    animation: scroll-up 45s linear forwards;
}

@keyframes fadeInScale{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInMove{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

#funny-img{
    animation: fadeInScale 1s ease-out;
}

#love-text{
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.animated-text{
    animation: fadeInMove 1s ease-out;
}